# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ref on forgetting ignored files: https://stackoverflow.com/questions/1274057/how-to-make-git-forget-about-a-file-that-was-tracked-but-is-now-in-gitignore/19095988#19095988

# First:

# git rm -r --cached . 
# git add .
# Then:

# git commit -am "Remove ignored files"

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.firebase*
firebase.json

rough-editorial.txt

src/resources/audio
src/resources/anim
